
.CardDetail {
    width: 100%;
    height: 100%;
    background-color: #76BA99;
    display: inline-flex;
    padding: 5%;
    margin-top: 2%;
    margin-bottom: 15%;
}
.CardDetail img {
    width: 400PX;
    height: 410px;
    filter: brightness(1.10);
    mix-blend-mode: multiply;
}
.CardDetail .btn-danger {
    position: relative;
    top: -12%;
    left: -150%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.322);
    border: none;
    transition: transform .2s;
}
.CardDetail .btn-danger:hover {
    transform: scale(1.5);
}

.infotCardDetail {
    margin-left: 3%;
}
.btnsDetail {
    background-color: black;
    
}
.btnsDetail button{
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.warning {
    margin-top: 10%;
    font-size: 35px;
}
.warning b{
    color: rgb(173, 16, 16);
}
.warning .btn-outline-danger:hover{
    background-color: black;
    border-color: black;
}