.site-footer
{
  background-color: #76BA99;
  padding:2px 0 2px;
  font-size:15px;
  /* line-height:10px; */
  color: black;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:0px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:0px;
  letter-spacing:2px
  
}
.site-footer a
{
  color:black;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:black
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
  .containerP1{
    position: relative;
    left: 120px;
    top: 60px;
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
  .containerP1{
    position: relative;
    left: 120px;
    top: 60px;
  }
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

#img{
    border: 20px;
    border-radius: 50%;
    width: 260px;
    height: 260px;
    position: relative;
    left: 380px;
    top: 40px;
}

.containerP1{
  position: relative;
  right: 110px;
  top: 190px;
}

.containerJ{
  position: relative;
  left: 820px;
  bottom: 10px;
  width: 0px;
}

.container1{
  position: relative;
  top: 2px;
}