.containerList {
    width: 100%;
    text-align: center;
    padding: 5%;
}

.cardCTN {
    display: inline-flex;
    margin-right: 2%;
    margin-bottom: 1%;
}
.searchInput {
    margin-bottom: 3%;
}