.containerList {
    width: 100%;
    text-align: center;
    padding: 5%;
}
.containerList .txtNoResult{
    margin-top: 150px;
    font-size: 32px;
    margin-bottom: 10.6%;
}
.containerList .input-search{
    width: 250px;
}

.cardCTN {
    display: inline-flex;
    margin-right: 2%;
    margin-bottom: 1%;
}
.searchInput {
    margin-bottom: 3%;
}