.containerLogin{
    text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}

.main{
    margin: auto;
	width: 350px;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;
    border: 1px solid #ccc;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.containerLogin label{
	color: black;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.containerLogin input{
	width: 60%;
	height: 30px;
	background: white;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 8px;
}
.containerLogin button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #000000;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.containerLogin .btnLogin{
	background: #a22727;
}
.containerLogin .btnLogin:hover{
	background: #000000;
}
.containerLogin button:hover{
	background: #a22727;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #a22727;
	transform: scale(.6);
}
.signup .form-select{
	position: relative;
	left: 20%;
	width: 210px;
	height: auto;
	border-radius: 5px;
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}