nav {
    border-bottom: 5px solid rgba(0, 0, 0, 0.032);
    background-color: rgb(34, 33, 33);
}
.navbar-nav .nav-item{
    color: white;

}
.navbar-nav .nav-item{
    color: white;

}

nav.navbar ul.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.imgLogo{
    width: 150px;
    height: 150px;
    border: 20px;
    border-radius: 50%;
}