nav {
    border-bottom: 5px solid rgba(0, 0, 0, 0.032);
    background-color: rgb(34, 33, 33);
}
.navbar-nav .nav-item{
    color: white;
}
.nav-item-ayuda {
    color: red;
}
.navbar-brand {
    color: #76BA99;
}
.navbar-brand:hover {
    color: white;
}

nav.navbar ul.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}